@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;500;600;700&family=Manrope:wght@300;400;500;600&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Halant', serif;
    
}

h1{
    font-size: 40px;
    font-weight: 700;
}

table,
th,
td{
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 45px;
}

thead{
    font-weight: 600;
    font-size: 32px;
}

tbody{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: justify;
}